<div class="container">
<footer class="footer">
    <small>
        
        copyright © <a href="https://www.udemy.com">The Complete Ruby on Rails Developer</a>
    by <a href="http://www.massimovalentino@linkedIn.com">Valentino Massimo</a>
    <small>
        <nav>
        <ul>
            <li><%= link_to "About", about_path  %></li>
                </ul>
                </nav>
                </footer>
                </div>
            